[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "==2.5.1"
keras = "*"
mediapipe = "==0.10.21"
numpy = "==1.24.3"
opencv-contrib-python = "==4.9.0.80"
pandas = "==2.2.2"
pygame = "==2.5.2"
tensorflow = "*"
flask = "==3.0.2"
protobuf = "==4.25.3"
tables = "==3.9.2"
pyqt5 = "==5.15.10"
opencv-python = "==4.7.0.72"
sphinx = "*"
sphinx-rtd-theme = "*"

[dev-packages]

[requires]
python_version = "3.10"
