<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-gray-50 h-screen">

    <!-- Navbar -->
    <nav class="flex justify-between items-center px-6 py-4">
        <a href="{{ url_for('training_selector', word_id=word_id, word=word) }}" class="btn btn-light back-button">
            <img src="{{ url_for('static', filename='img/BackButton.svg') }}" alt="Back" class="back-arrow">
        </a>
        <button
            class="icon-primary-button flex items-center gap-2 text-white bg-indigo-500 px-4 py-2 rounded-lg hover:bg-indigo-700 transition">
            <img src="{{ url_for('static', filename='img/InfoWhite.svg') }}" alt="Help" class="help-icon w-5 h-5">
            <span>Ayuda</span>
        </button>
    </nav>

    <!-- Contenido centrado -->
    <div class="flex flex-col justify-center items-center h-[calc(100vh-80px)] px-4 text-center mt-5">
        <h1 class="text-3xl md:text-4xl font-bold mb-6">Predictor de Señas:</h1>

        <img src="{{ url_for('video_feed_prediction') }}" width="720" height="540" class="rounded-xl shadow mb-6">


    </div>

</body>


</html>